# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
.next
out

# testing
coverage

# misc
.DS_Store
*.pem
.idea

# env
.env
.env*.local

# git
.git
.gitignore

# docker
Dockerfile*
docker-compose*.yml
.dockerignore

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
